<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>maintenents</title>
    </head>
    <body>
            <h1>sorry</h1>
            <p>we are currently updating our app</p>

            {{> footer}}
    </body>
</html>
